<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ajouter une Machine
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <form [formGroup]="AjoutMachine">
          <ion-card>
            <h1>Information Essentiels : </h1>
            <ion-item-sliding>
              <ion-item>
                <ion-label position="stacked" style="font-size: 1.2em">Type Machine</ion-label>
                <ion-select formControlName="type" placeholder="Type de machine" name="type">
                  <ion-select-option value="Flipper">Flipper</ion-select-option>
                  <ion-select-option value="BabyFoot">Baby Foot</ion-select-option>
                  <ion-select-option value="Jeu de Fléchettes">Jeu de fléchettes</ion-select-option>
                  <ion-select-option value="Borne d'arcade">Borne Arcade</ion-select-option>
                  <ion-select-option value="Juke Boxe">Juke Box</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="stacked" style="font-size: 1.2em">Nom Machine</ion-label>
                <ion-input type="text" placeholder="ex: Flipper DeadPool" name="nom" formControlName="nom" style="font-size: 1.1em"></ion-input>
              </ion-item>


              <ion-item>
                <ion-label>Client</ion-label>
               </ion-item>
              <ion-item>
                  <ion-select formControlName="prefCl" placeholder="Mr."  name="prefCl">
                    <ion-select-option value="Mr ">Mr.</ion-select-option>
                    <ion-select-option value="Mme ">Mme.</ion-select-option>
                  </ion-select>
              </ion-item>

                <ion-item>
                  <ion-input type="text" placeholder="Nom Prénom Client" name="nomCl" formControlName="nomCl" style="font-size: 1.1em"></ion-input>
                </ion-item>


              <ion-item>
                <ion-label position="stacked" style="font-size: 1.2em">Travail Effectué</ion-label>
                <ion-textarea formControlName="travaillEff" name="travaillEff" placeholder="Nouvelle cible installé"></ion-textarea>
              </ion-item>
            </ion-item-sliding>
          </ion-card>
          <ion-card>
                <ion-item-sliding>
                <h1>Informations Optionnels : </h1>

              <ion-item>
                <ion-label position="stacked" style="font-size: 1.2em">Fabriquant</ion-label>
                <ion-input type="text" placeholder="Stern" formControlName="fabriquant" style="font-size: 1.1em" name="fabriquant"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked" style="font-size: 1.2em">Model</ion-label>
                <ion-input type="number" placeholder="ex: 1970" formControlName="model" style="font-size: 1.1em" name="model"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked" style="font-size: 1.2em">Etat</ion-label>
                <ion-select formControlName="etat" placeholder="Bon Etat"  name="etat">
                  <ion-select-option value="Neuf">Neuf</ion-select-option>
                  <ion-select-option value="Bon Etat">Bon Etat</ion-select-option>
                  <ion-select-option value="Etat Correct">Etat Correct</ion-select-option>
                  <ion-select-option value="Bon Etat">Mauvaise Etat</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="stacked" style="font-size: 1.2em">Prix d'achat</ion-label>
                <ion-input type="number" placeholder="1200" name="prixachete" formControlName="prixachete" style="font-size: 1.1em"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked" style="font-size: 1.2em">Problèmes</ion-label>
                <ion-textarea formControlName="problem" name="problem" placeholder="ex: CPU ne fonctionne pas"></ion-textarea>
              </ion-item>

              <ion-item>
                <ion-label position="stacked" style="font-size: 1.2em">Date de prise en charge</ion-label>
                <ion-input type="date" placeholder="01/02/2021" name="dateAte" formControlName="dateAte" style="font-size: 1.1em"></ion-input>
              </ion-item>


              <ion-button expand="block" fill="clear" size="default" (click)="presentActionSheet()"><ion-icon name="camera-outline" style="padding-right: 5px"></ion-icon>Ajouter une photo</ion-button>

              <ion-button expand="block" color="success" type="submit" (click)="uploadFirebase()" style="font-size: 1.5em; margin: 25px">Valider</ion-button>

            </ion-item-sliding>
          </ion-card>

    </form>
</ion-content>
