<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar style="padding-top: 5px" slot="start" color="primary" (ionInput)="filterList($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header *ngIf="nbrMachines != 0">
    <ion-toolbar>
      <h5 *ngIf="nbrMachines != 0" style="padding-left: 15px">{{this.nbrMachines}} Machines</h5>
    </ion-toolbar>
  </ion-header>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <ion-list id="dynamicList">
    <ion-item-sliding *ngFor="let machine  of machines">
      <ion-item detail (click)="presentModal(machine)">
        <ion-avatar slot="start">
          <img *ngIf="machine.image_ad != null" alt="avatar-img" src="{{machine.image_ad}}">
        </ion-avatar>
        <ion-label>
          <h2>{{machine.type}} - {{machine.nomCl}}</h2>
          <h3>{{machine.nom}}</h3>
          <p>{{machine.fabriquant}}</p>
          <h3>{{machine.etat}}</h3>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="AlertConfirmDeleteMachine(machine)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option color="primary">
          <ion-icon slot="icon-only" name="archive-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <h5 *ngIf="nbrMachines == 0" style="text-align: center"> Vous n'avez pas encore<br>ajouté de machines<br>
    <ion-button color="success" (click)="ajouter()">Ajouter</ion-button></h5>
</ion-content>

